{% extends 'index.html.twig' %}

{% block body %}
	<h2>Add new category</h2>

	{{ form_start(form) }}
	{{ form_row(form.name) }}
	<button class="btn btn-primary">Add One</button>
	{{ form_end(form) }}
{% endblock %}