{% extends 'index.html.twig' %}

{% block body %}
	<h4 class="mt-4 mb-4 text-center">Add new category</h4>

	<div class="col-md-4 m-auto">
		{{ form_start(form) }}
		{{ form_row(form.name) }}
		<button class="btn btn-secondary">Add One</button>
		{{ form_end(form) }}
	</div>
{% endblock %}