{% extends 'index.html.twig' %}

{% block title 'Liste de tous les utilisateurs' %}

{% block body %}

	<h3 class="mt-4 mb-4 ml-2 text-center">La liste des utilisateurs</h3>

	<div class="col-md-8 m-auto">
		<ul class="list-group mt-4">
			{% for user in users %}
				<li class="list-group-item">
					<a href=" {{ path('user_edit', {id : user.id}) }} ">{{ user.id }} - {{ user.fullName }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}